<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navbar') %>
    
    <h1> Selamat datang di Tulang Rusuk</h1>
    <h3> Semoga jodoh Anda cepat ketemu</h3>
</body>
</html>