<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navbar') %>
    
    <h3> Lihat Semua Proses </h3>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Kesatria</th>
            <th scope="col">Kembang</th>
            <th scope="col">Mahar</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>

         <%   arr.forEach( el => { %>
                <tr>
                  <th scope="row">1</th>
                  <td><%= el.id %></td>
                  <td> Masih Proses </td>
                </tr>
          <%  }) %>

        </tbody>
      </table>
</body>
</html>